* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider input {
    -webkit-appearance: none;
    z-index: 9999;
    background: transparent;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    border: 4px solid #252521;
}

.slider progress {
    -webkit-appearance: none;
}

.slider progress::-webkit-progress-bar {
    background: #d8d8d0;
}

.slider progress::-webkit-progress-value {
    background: #252521;
}

.group {
    -webkit-mask-image: radial-gradient(
        51.67% 51.67% at 50% 50%,
        #e8e8e3 0%,
        transparent 180%
    );
    mask-image: radial-gradient(
        51.67% 51.67% at 50% 50%,
        #e8e8e3 0%,
        transparent 80%
    );
}

.plan {
    -webkit-mask-image: linear-gradient(0deg, #383835 0%, #383825b6 100%);
    mask-image: linear-gradient(0deg, #383835 0%, #383825b6 100%);
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 11.31px solid transparent;
    border-right: 11.31px solid transparent;
    border-top: 8px solid #252521;
}
